@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--dark-blue);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

html {
  scroll-behavior: smooth;
}

.mint {
  color: var(--mint);
}

ul { 
  display: flex;
}

li {
  list-style-type: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-blue);
}

a {
  display: inline;
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  color: var(--dark-blue);
  line-height: 1.25;
}

i:hover {
  opacity: 0.7;
}

:root {
  --mint: rgb(45, 212, 191);
  --dark-mint: rgb(13, 148, 136);
  --light-mint: rgb(204, 251, 241);
  --dark-blue: rgb(36, 62, 99);
  --grey-text: rgb(158, 170, 189);
}

.section__title {
  font-size: 16px;
  color: var(--mint);
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__description {
  font-size: 48px;
  font-weight: 900;
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

#features .section__description {
  text-align: center;
}
.section__para {
  font-size: 18px;
  font-weight: 500;
  color: var(--grey-text);
  line-height: 1.625;
}

.btn {
  background-color: var(--mint);
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  transition: background-color 300ms ease;
  cursor: pointer;
}

/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
  justify-content:center;
  margin: 12px;
}

.nav__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content:space-between;
  
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 8px;
  letter-spacing: 0.5px;
}

.nav__link--list {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link { 
  text-decoration: none;
  font-size: 14px;
  color: var(--dark-blue);
  font-weight: 600;
  margin: 0 24px;
  padding-top: 4px;
  letter-spacing: 0.35px;
  transition: color 300ms ease;
}

.nav__link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  text-decoration-color: var(--dark-mint);
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 90px;
  color: white;
  background-color: var(--mint);
  line-height: 1.5;
  width: auto;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: var(--dark-mint);
}

.btn__menu {
 background-color: transparent;
 border: none;                    
 display: none;
 transition: opacity 300ms ease;
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.menu__backdrop {
 position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: white;
  border: 1px solid var(--grey-text);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.menu__links {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}

.menu__link {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
  color: white;
  padding: 12px 32px;
  background: var(--mint);
  border-radius: 500px;
  border: none;
}




/* HEADER */

section {
  padding: 0 32px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  width: 40%;
}

.header__title--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: var(--mint);
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: var(--dark-mint);
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid var(--grey-text);
  padding: 20px 192px 20px 32px;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input::placeholder {
  font-weight: 500;
  color:var(--grey-text);
}

.header__email--input:hover {
  border-color: var(--light-mint);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: var(--grey-text);
}

.header__customers--title {
  margin-top: 80px;
  color: var(--grey-text);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 768px;
}



/* FEATURES */

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title{
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__card {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid var(--light-mint);
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__text-box {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: var(--grey-text);
  line-height: 2;
  font-weight: 500;
}


/* QUALITY WORK */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#quality .section__description {
  line-height: 1.25;
}
#quality .btn {
  margin-top: 32px;
}
.quality__card {
  max-width: 576px;
  margin-right: 64px;
}
.quality__description,
.quality__img--wrapper {
  width: 50%;
}

.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
  
}

.quality__grid {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: translate(50%, 50%);
  background-image: radial-gradient(
    circle,
    var(--mint) 2px,
    transparent 2.5px
  );
  background-size: 10px 10px;
  z-index: 0;
  display: block;
}

.quality__img {
  z-index: 1;


}

/* STEPS SECTION */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
   display: flex;
  position: relative;
  margin: 24px;;
}

.steps__card,
.steps__img--wrapper {
  width: 50%;
}

.steps__img {
  z-index: 2;
}

.steps__card {
  padding: 32px 0;
  padding-left: 64px;
}

.steps__grid {
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  height: 10rem;
  z-index: -1;
  opacity: 0.3;
  background-image: radial-gradient(
    circle,
    var(--dark-blue) 3px,
    transparent 3px
  );
  background-size: 16px 16px;
}

.step {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}
.step__number {
  color: var(--grey-text);
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}
.step__text-box {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 320px;
}
.step__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
}
.step__para {
  font-size: 14px;
  color: var(--grey-text);
  margin-top: 12px;
  font-weight: 500;
  line-height: 2;
}

  /* VALUES */

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#values .section__title {
  margin-top: 16px;
  margin-bottom: 32px;
}
#values .btn {
  margin-top: 48px;
}
.value {
  margin-top: 2rem;
  margin-right: 2rem;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.values__card {
  padding: 32px 64px 32px 0;
}
.values__card,
.values__img {
  width: 50%;
}
.values__list {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  max-width: none;
  flex-direction: row;
}
.value:nth-of-type(1) {
  margin-top: 32px;
  margin-right: 32px;
}
.value:nth-of-type(2) {
  margin-top: 32px;
}
.value__title {
  display: flex;
  align-items: center;
}
.value__img {
  width: 20px;
  height: 20px;
}
.value:nth-child(1) .value__img--wrapper {
  background-color: #9ae6b4;
}
.value:nth-child(2) .value__img--wrapper {
  background-color: #feb2b2;
}
.value__img--wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}
.values__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #243e63;
}
.value__para {
  margin-top: 16px;
  line-height: 1.625;
  color: #718096;
}

/*


 SMALL PHONES, TABLETS AND LARGE PHONES 


*/
@media (max-width: 1280px) {

  header .row {
    align-items: flex-end;
  }

  h1 {
    font-size: 36px;
  }

  .header__title--para {
    font-size: 16px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    max-width: 512px;
  }
  
  .steps__grid {
    height: 10rem;
    width: 10rem;
    bottom: -65px;
  }
}

@media (max-width: 1024px) {

 .btn__menu {
   display: block;
 }

  .nav__link--list {
    display: none;
  }
  
  .nav__logo{
    margin-left: 24px;
  }

  header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__title,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  .header__title--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

  .feature__card {
    padding: 32px 8px;
    margin: 0 16px;
  }

  .features {
    max-width: 768px;
  }
  .feature {
    width: calc(50%);
  }
  .feature__title {
    line-height: 1;
  }

  .feature__para {
    max-width: none;
  }

  .quality__card {
    margin-right: 0px;
    padding-right: 48px;
  }

  .section__description {
    font-size: 36px;
  } 

  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .section__para {
    font-size: 16px;
  }

   .value {
    margin-top: 2.5rem;
  }

  .values__list {
    max-width: 20rem;
    flex-direction: column;
  }

} 



@media (max-width: 768px) {

  .container {
    padding: 80px 0;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .section__title {
    font-size: 16px;
  }

  .section__description {
    font-size: 36px;
  }

  .section__para {
    font-size: 14px;
  }

  .features {
    justify-content: center;
  }
  .feature {
    width: auto;
    max-width: 384px;
  }

  #quality .row,  #values .row{
    flex-direction: column-reverse;
  }


  .quality__card,
  .steps__card,
  .values__card {
    padding: 0;
    margin-top: 64px;
    text-align: center;
  }


  .quality__card,
  .steps__card,
  .values__card,
  .value__img,
  .quality__img--wrapper,
  .steps__img--wrapper  {
    width: 100%;
    max-width: 448px;
  }

   #steps .row{
    flex-direction: column;
    justify-content: space-between;
  }

  .step {
    flex-direction: column;
    align-items: center;
  }
  .step__text-box {
    margin-top: 12px;
    margin-left: 0;
  }

  .values__list {
    margin-left: auto;
    margin-right: auto;
  }
  .value:nth-of-type(1) {
    margin-right: 0px;
  }
  .value {
    margin-right: 0px;
    align-items: center;
  }
 
}

@media (max-width: 640px) {
 
  .nav__container {
    align-items: center;
  }

  nav > .btn__menu {
    margin-left: auto;
  }

  .section__description {
    line-height: 1.25;
    font-size: 30px;
  }
 
  .feature__card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .feature__title {
    letter-spacing: 0.025em;
    line-height: 1;
  }
  .feature__text-box {
    margin-left: 0px;
    margin-top: 16px;
  }
  .feature__para {
    margin-top: 4px;
    line-height: 2;
  }



}

