@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--dark-blue);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

html {
  scroll-behavior: smooth;
}

.mint {
  color: var(--mint);
}

ul { 
  display: flex;
}

li {
  list-style-type: none;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-blue);
}

a {
  display: inline;
  text-decoration: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  color: var(--dark-blue);
  line-height: 1.25;
}

i:hover {
  opacity: 0.7;
}

:root {
  --mint: rgb(45, 212, 191);
  --dark-mint: rgb(13, 148, 136);
  --light-mint: rgb(204, 251, 241);
  --dark-blue: rgb(36, 62, 99);
}


/* NAVIGATION */

nav {
  height: 80px;
  display: flex;
  justify-content:center;
  margin: 12px;
}

.nav__container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content:space-between;
  
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 8px;
  letter-spacing: 0.5px;
}

.nav__link--list {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link { 
  text-decoration: none;
  font-size: 14px;
  color: var(--dark-blue);
  font-weight: 600;
  margin: 0 24px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  transition: all 300ms;
}

.nav__link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  text-decoration-color: var(--dark-mint);
}

.login {
  margin-left: 48px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 90px;
  color: white;
  background-color: var(--mint);
  line-height: 1.5;
  width: auto;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  text-decoration: none;
  background-color: var(--dark-mint);
}

.btn__menu {
 background-color: transparent;
 border: none;                    
 display: none;
 transition: all 300ms ease;
}
.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

.menu__backdrop {
 position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: white;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.menu__links {
 width: 100%;
  height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}

.menu__link {
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.menu__link--primary {
  color: white;
  padding: 12px 32px;
  background: var(--mint);
  border-radius: 500px;
  border: none;
}




/* HEADER */

section {
  padding: 0 32px;
}

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  width: 40%;
}

.header__title--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: var(--mint);
  color: white;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: var(--dark-mint);
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input::placeholder {
  font-weight: 500;
  color: rgb(158, 170, 189);
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(160, 174, 192);
}

.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/*


 SMALL PHONES, TABLETS AND LARGE PHONES 


*/
@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }

  h1 {
    font-size: 36px;
    color: var(--dark-blue);
    line-height: 1.25;
  }

  .header__title--para {
    font-size: 16px;
  }

  .header__customers {
    padding-right: 64px;
  }

  .header__img--wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .header__img {
    max-width: 512px;
  }
  
}

@media (max-width: 1024px) {
 .btn__menu {
   display: block;
 }

 .nav__link--list {
  display: none;
 }
 
 .nav__logo{
  margin-left: 24px;
 }

 .nav__link--list {
   display: none;
 }

 header .row {
    flex-direction: column;
    align-items: center;
  }

  .header__title,
  .header__img--wrapper {
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
  }

  .header__title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 30px;
  }

  .header__title--para {
    margin: 20px 0;
  }

  .header__customers {
    padding-right: 0px;
  }

  .header__customers--title,
  .header__img--wrapper {
    margin-top: 48px;
  }

} 

@media (max-width: 768px) {
 .btn__menu {
   display: block;
 }

  .container {
    padding: 80px 0;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

  .section__title {
    font-size: 30px;
  }
 
}

@media (max-width: 640px) {
 .btn__menu {
   display: block;
   margin-left: 70px;
 }

  .container {
    padding: 80px 0;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }

}

@media (max-width: 240px) {
 .btn__menu {
   display: block;
   margin-left: 70px;
 }

  .menu__link{
    font-weight: 500;
    font-size: 10px;
  }

  .menu__link--primary{
    padding: 8px 4px; 
  }

  .container {
    padding: 80px 0;
  }

  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }

  .header__email {
    flex-direction: column;
    height: auto;
  }

  .header__email--input {
    position: static;
    padding: 16px 0;
    padding-left: 32px;
    line-height: 1.5;
  }

  .header__email--btn {
    width: 100%;
    padding: 16px 0;
    margin: 16px 0;
    margin-bottom: 0px;
    line-height: 1.5;
  }

  .header__customers--title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }
 
}